
<div class="panel" style="display:flex; text-align:center; width:100%;">
    <WORKS_T1.Components.Pages.Linker/>
        <div class="container-fluid">
            <a class="navbar-brand" href="">MAINWORKS_T1</a>
        </div>

    <div class="item">
        <NavLink class="nav-link" href="pagerenderer/0" Match="NavLinkMatch.All">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
        </NavLink>
    </div>

    <div class="item">
            <NavLink class="nav-link" href="fileview">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

    <div class="item">
            <NavLink class="nav-link" href="agenda">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
            </NavLink>
    </div>

</div>

<!--

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex">
        <div class="nav-item px-3">
            
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pagerenderer/0">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> NotePages
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fileview">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Files
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agenda">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Agenda
            </NavLink>
        </div>
    </nav>
</div>

-->